html, body{
    padding: 0;
    margin: 0;
}

#container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#treeview{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #ccc;    
}

#editor{
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    left: 300px;
}

.save-button{
    z-index: 10;
    position: fixed;
    display: block;
    width: 80px;
    height: 40px;
    background-color: #0A8400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    font-weight: 700;
    left: 350px;
    bottom: 10px;
    outline: none;
}

.save-button:hover{
    background: #0FCA00;
}

.save-button:disabled{
    background: #888;
    color: #666;
}